.app {
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
}

.user-input {
  padding: 60px;
}

.user-input button {
  margin: 0 auto;
  width: 320px;
  text-align: center;
}

.user-input form {
  margin: 0 auto;
  width: 320px;
  text-align: left;
}

.user-input p {
  margin-top: 10px;
}

.profile-card--person {
  margin-top: '1rem';
  width: '15rem';
}
.profile-card--venue {
  margin-top: '1rem';
  width: '30rem';
}
