.app {
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
}

.user-input {
  padding: 60px;
}

.user-input button {
  margin: 0 auto;
  width: 320px;
  text-align: center;
}

.user-input form {
  margin: 0 auto;
  width: 320px;
  text-align: left;
}

.user-input p {
  margin-top: 10px;
}

.form--venue form {
  margin: 0 auto;
  width: 60%;
  text-align: left;
}

.card--musician {
  margin-bottom: 10px;
}

.card--venue {
  margin-bottom: 10px;
}
