@import 'react-slideshow-image/dist/styles.css';

body {
  background-color: #fef8f5;
}

.app {
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
}

/* User Input */
.user-input {
  padding: 60px;
}

.user-input button {
  margin: 0 auto;
  width: 320px;
  text-align: center;
}

.user-input form {
  margin: 0 auto;
  width: 320px;
  text-align: left;
}

.user-input p {
  margin-top: 10px;
}

.custom-link {
  color: #5f5f5f;
}

/* Forms */
.form--musician form,
.form--venue form {
  margin: 0 auto;
  width: 60%;
  text-align: left;
}

.form--musician h1,
.form--venue h1 {
  margin-top: 20px;
}

.form--musician button,
.form--venue button {
  margin-bottom: 20px;
}

.form-details1 {
  position: relative;
  left: 25%;
  width: 50%;
  margin-bottom: 40px;
}

.form-details2 {
  margin-top: 20px;
  text-align: left;
}

/* Cards */
.card--musician,
.card--venue {
  margin-bottom: 10px;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}

.card--venue .btn,
.card--musician .btn {
  text-align: center;
}

/* Home */
.home .search {
  width: 250px;
  position: absolute;
  left: 30%;
  top: 20px;
}
.home .container {
  margin-top: 20px;
}

.home .btn {
  margin-bottom: 20px;
}

.home col {
  margin-bottom: 20px;
}

/* Buttons */
.btn-primary,
.btn-primary:disabled {
  color: #ffffff;
  border-color: #f3b89b;
  border-width: 1px;

  background-color: #f3b89b;
  border-radius: 10px 10px 10px 10px;
  font-family: "Open Sans", sans-serif;
}

.btn-primary:hover {
  color: #fff;
  background-color: #fc9561;
  border-color: #fc9561;
}

.btn-outline-secondary {

  border-radius: 10px 10px 10px 10px;
  margin: 5px;
}

.btn-outline-secondary hover{
  background-color: #f3b89b;
  border-color: f3b89b;

}

a{
  color: #ce8f6f
}

a:hover{
  color: #815b48
}

/* Navigation */
.navbar {
  background-color: #f3dcd1;
  border-radius: 10px 10px 10px 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}

.navbar__logo {
  width: 30px;
}

.nav-link {
  color: #659afc;
}

/* Slideshow */
.slideshow {
  width: 100%;
  background-color: black;
}

.each-fade div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  height: 300px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.image-container--guitar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/guitarist.png');
}

.image-container--band {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url('./assets/band.png');
}

.image-container--venue {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url('./assets/venue.png');
}

.caption {
  text-align: center;
  color: white;
  margin-top: 10px;
}